@import '_variablesMixins.scss';

.dashboard{
	padding: 20px 1%;
	width: 98%;
	.dashboard-box{
		@include roundedCorners();
		background: #fff;
		border: 1px solid $base;
		float: left;
		margin: 0 1% 20px 0;
		min-height: 200px;
		padding: 10px 1%;
		width: 21%;
		h2{
			color: $primary;
			font-family: $fontMajor;
			font-size: $font-size-double;
			font-weight: normal;
			text-align: center;
		}
		.dashboard-box-description{
			display: block;
			margin-bottom: 10px;
		}
	}
	.dashboard-greeting{
		img{
			@include roundedCorners();
			border: 1px solid $base;
			display: inline-block;
			height: 40px;
		}
		.dashboard-greeting-userName{
			display: inline-block;
			font-family: $fontMajor;
			font-size: $font-size-double;
			margin-left: 10px;
			position: relative;
			top: -10px;
		}
		span{
			display: block;
			margin-top: 10px;
		}
	}
}