@import '_variablesMixins.scss';

.header{
	background: #fff;
	border-bottom: 1px solid $base;
	padding: 10px 1%;
	position: relative;
	width: 98%;
	.menu{
		@include dropdown_menu(33px);
		float: left;
		margin-right: 1%;
		padding: 5px 5px 0 5px;
		position: relative;
		&:hover{
			cursor: pointer;
		}
		img{
			height: 25px;
			width: 25px;
		}
	}
	.page-title{
		color: $primary;
		display: inline-block;
		font-size: $font-size-double;
		margin-top: 5px;
	}
	.g-signin2{
		float: right;
		margin-left: 1%;
	}
	.font-warning{
		float: right;
		margin-top: 5px;
	}
}