.header { background: #fff; border-bottom: 1px solid #cccccc; padding: 10px 1%; position: relative; width: 98%; }
.header .menu { float: left; margin-right: 1%; padding: 5px 5px 0 5px; position: relative; }
.header .menu ul { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background: #fff; border: 1px solid #cccccc; display: none; position: absolute; text-align: left; top: 33px; width: 150px; z-index: 1; }
.header .menu ul li a, .header .menu ul li span { display: block; padding: 5px 2%; }
.header .menu ul li a:hover, .header .menu ul li span:hover { background-color: #e7ffff; }
.header .menu:hover { cursor: pointer; }
.header .menu img { height: 25px; width: 25px; }
.header .page-title { color: #009999; display: inline-block; font-size: 2em; margin-top: 5px; }
.header .g-signin2 { float: right; margin-left: 1%; }
.header .g-signin2 ul {right: 4px; text-align: right;}
.header .font-warning { float: right; margin-top: 5px; }
