@import '_variablesMixins.scss';

.header{
	background: #fff;
	border-bottom: 1px solid $base;
	padding: 10px 1% 5px 1%;
	position: relative;
	width: 98%;
	.menu{
		@include dropdown_menu(33px);
		background: #f2f3f4;
		float: left;
		margin-right: 1%;
		padding: 5px 5px 0 5px;
		position: relative;
		&:hover{
			cursor: pointer;
		}
		img{
			height: 25px;
			width: 25px;
		}
	}
	.page-title{
		color: $primary;
		display: inline-block;
		font-size: $font-size-double;
		margin-top: 5px;
	}
	.g-signin2{
		
		float: right;
		margin-left: 1%;
		& > a{
			display: inline-block;
			font-weight: bold;
			margin-top: 10px;
		}
		img{
			height: 25px;
			width: 25px;
		}
		ul{
			right: -1px;
			top: 35px;
		}
		&.dropdown{
			background: #f2f3f4 url("../images/select_arrow.svg") no-repeat scroll right 10px top 14px/10px;
			padding: 5px 30px 2px 5px;
		}
	}
	.font-warning{
		float: right;
		margin: 10px 2% 0 0;
	}
}


.footer{
	background-color: #fff;
	border-top: 1px solid $base;
	bottom: 0;
	padding: 5px 2%;
	position: fixed;
	width: 96%;
	.copyright{
		float: left;
		margin-top: 15px;
	}
	.auth0{
		float: right;
		img{
			height: 40px;
		}
	}
}