.creation-section, .creation-section-powers { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background: #fff; border: 1px solid #cccccc; box-sizing: border-box; float: left; margin: 0 2% 10px 0; padding: 10px 2%; }
.creation-section .creation-section-title, .creation-section-powers .creation-section-title { color: #009999; font-size: 1.538em; margin-bottom: 10px; text-align: center; }
.creation-section button.dropdown, .creation-section-powers button.dropdown { margin: 0 0 10px 20%; }
.creation-section .creation-section-description, .creation-section-powers .creation-section-description { margin-bottom: 10px; text-align: center; }
.creation-section .creation-section-combo, .creation-section-powers .creation-section-combo { margin-bottom: 10px; }
.creation-section .creation-section-combo:last-child, .creation-section-powers .creation-section-combo:last-child { margin-bottom: 0; }
.creation-section .creation-section-combo label, .creation-section-powers .creation-section-combo label { display: inline-block; margin-bottom: 5px; min-width: 100px; width: 20%; }
.creation-section .creation-section-combo input, .creation-section-powers .creation-section-combo input { width: 60%; }
.creation-section .creation-section-combo input[maxlength="3"], .creation-section-powers .creation-section-combo input[maxlength="3"] { width: 30px; }
.creation-section .creation-section-combo textarea, .creation-section-powers .creation-section-combo textarea { vertical-align: middle; width: 66%; }
.creation-section .creation-section-combo .dropSearch, .creation-section-powers .creation-section-combo .dropSearch { width: 66%; }

.basics .new-series { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; border: 1px solid #cccccc; display: none; margin: 0 2% 10px 17%; padding: 5px 2%; width: 76%; }
.basics .new-series label { width: 100%; }

.skills input[name="char-authorityOver"] { width: 87%; }

.power .creation-section-combo:last-child div { background: #f2f3f4; }
.power .creation-section-combo textarea { width: 98%; }

.sheetItem .sheet-item-possibility { display: none; }
.sheetItem .dropSearch, .sheetItem .dropdown { display: table; margin: 0 auto; }
.sheetItem .creation-section-description { margin-top: 10px; }
.sheetItem .new-pokemon { display: none; }
.sheetItem .new-pokemon button.dropdown { margin: 0; }
.sheetItem .new-pokemon #dropdown-pokemon-evolutionStage { display: inline-block; margin: 0; }
