<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="page_one_warmonger.css">
    <title>Nexus Character Sheet</title>
  </head>
  <body>
  <div class="main start">
  <div class="pageheader">
	<div class="titletext">
		Nexus System:Character
	</div>
	<div class= "charinfo">
		<div class="nametext header-text">Name:</div>
		<div class="seriestext header-text">Series:</div>
	</div>
  </div>
	<div class="leftcolumn">
		<div class="attributes spacer">
			<div class="divTableBody">
				<div class="header header-text"> Statistics</div>
				<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Power</div>
					<div class="attribute-value attribute-row callout-text">3</div>
				</div>
						<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Athletics</div>
					<div class="attribute-value attribute-row callout-text">3</div>
				</div>
						<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Brains</div>
					<div class="attribute-value attribute-row callout-text">3</div>
				</div>
						<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Confidence</div>
					<div class="attribute-value attribute-row callout-text">3</div>
				</div>
						<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Charimsa</div>
					<div class="attribute-value attribute-row callout-text">3</div>
				</div>
						<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Affluence</div>
					<div class="attribute-value attribute-row callout-text">3</div>
				</div>
			</div>
		</div>
		<div class="character-image bordered-image">
			<img style="transform: translate({{sheet.shiftX}}%,{{sheet.shiftY}}%) scale({{sheet.scale}});" src=/>
		</div>
			<div class="BackgroundInfo spacer bordered-box descriptive-text">Background:</div>
		<div class="itemcard spacer bordered-box">
			<div class="itemcardname header-text">Special Item</div>
			<div class="itemcardtype header-text">Type</div>
			<div class="itemcardimage bordered-image itemcardbox" ><img style="transform: translate(0%,-25%);" src="static/mesousa.jpg" /></div>
			<div class="itemcardtext descriptive-text itemcardbox" >Item Description <br><br><br><br><br><br>Integrity:<br>Cost:</div>
		</div>
	</div>

	<div class='rightcolumns'>
		<div class="standardskills">
		<div class="skilllheaderstandard callout-text">Standard Skills</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Acting</div>
				<div class="attribute-value attribute-row callout-text ">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Hide Stuff</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Computer Use</div>
				<div class="attribute-value attribute-row callout-text ">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Disguise</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Deception</div>
				<div class="attribute-value attribute-row callout-text ">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Jump</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Influence</div>
				<div class="attribute-value attribute-row callout-text ">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Mechanics</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Magic/Chi</div>
				<div class="attribute-value attribute-row callout-text ">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Pilot Mecha</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Medicne</div>
				<div class="attribute-value attribute-row callout-text ">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Run</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Pilot Vehicle</div>
				<div class="attribute-value attribute-row callout-text ">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Search</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Science</div>
				<div class="attribute-value attribute-row callout-text ">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Stealth</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Yoink</div>
				<div class="attribute-value attribute-row callout-text ">1</div>
			</div>
			<div class="skillbox">	
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Yeet</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			
		</div>
		<div class="combatskills">
		<div class="skillheadercombat callout-text">Combat Skills</div>	
			<div class="combatskillbox">	
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Archery</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="combatskillbox">	
				<div class="attribute-label attribute-row callout-text combatlable skill-text">BFG</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="combatskillbox">	
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Blades</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="combatskillbox">	
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Blunt</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="combatskillbox">	
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Dodge</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="combatskillbox">	
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Hand To Hand</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="combatskillbox">	
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Marskmanship</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="combatskillbox">	
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Mecha Weapons</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>
			<div class="combatskillbox">	
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Special Weapon</div>
				<div class="attribute-value attribute-row callout-text">1</div>
			</div>			
		</div>
		<div class="attribute-label attribute-row callout-text combatlable skill-text authoritylabel spacer">Authority</div>
		<div class="attribute-value attribute-row callout-text authorityvalue">1</div>
		<div class="vitalrow spacer"><div class="vitalslabel callout-text">Resilience:</div><div class="bodresvalue emoji">🔰🔰</div>		</div>
		<div class="vitalrow spacer"><div class="vitalslabel callout-text">Body:</div><div class="bodresvalue emoji">❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤</div></div>
		<div class="vitalrow spacer"><div class="vitalslabel callout-text energylabel">Energy:</div><div class="energyvalue emoji">✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨</div></div>
		<div>
			<div class="startingitems">
				<div class="header-text">Starting Items</div>
				<div class="descriptive-text"> Cell Phone <br> Gun <br> Mecha <br> </div>
			</div>
			<div class="portrait-image bordered-image"><img style="transform: translate(-35%,-20%) scale(.75);" src="bigbunny.jpg"/></div>
		</div>
  </div>
  </div>
  <div class="main start">
  <div class="pageheader">
		<div class="titletext">
			Character Special Skills
		</div>
		<div class= "charinfo">
			<div class="nametext header-text">Name:</div>
			<div class="seriestext header-text">Series:</div>
		</div>
	</div>
		<div class="descriptive-text">
		<strong>Ability 3 (3 Energy)</strong><br>A whol bunch of bullshit
		</div>
	</div>
  </body>
</html>
