	@page {
		margin: .125in;
		size: 8.5in 11in;}
	.start{page-break-before:always;}
	body{margin:auto;background-color: rgb(153,153,255);}
    p { font-family: "TrubuchetMS", Sans-Serif; font-size:12pt}
	img { 
		flex: none;
		}
	.callout-text{font-family: "Comic Sans MS", Sans-Serif; font-size:10pt;color: paleturquoise;}
	.skill-text{font-size:10pt;}
	.header-text{font-family:"Comic Sans MS", Sans-Serif; font-size:18pt;color: aquamarine;}
	.descriptive-text{font-family:"Comic Sans MS", Sans-Serif; font-size:12pt;color: #88e4e2;}
	.header { 
			background-color:#bd4dbe;
			border-style:solid;
			border-width:1pt;
			border-bottom-width:2pt;			
			display: flex;
			align-items: center;
			justify-content: center;
			}
	.main {width:8.3in;height:10.75in}
	.leftcolumn {width: 3.8in; float: left;}
	.rightcolumns {width: 4.5in; float: right;}
	.pageheader {width: 100%; height: .95in; z-index:0; position:relative;}
	.titletext { 
			font-family: "Comic Sans MS", Sans-Serif;
			font-size:18pt;
			color:#00dac8;
			background-color:#0081ce;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: left;
			padding-left:.125in;
			padding-right:.25in;
			float:left;
			height:75%;
			z-index:1;
			position:relative;}
	.charinfo{float:left; z-index:2; position:absolute; left:3.2375in;}
	.nametext { 
		display: flex;
		align-items: center;
		justify-content: left;
		padding-top:.275in;
		margin-bottom:.075in;
		color: aquamarine;
}			
	.seriestext { 
		display: flex;
		align-items: center;
		justify-content: left;}
	.spacer {margin-bottom:.07in;}
	.bordered-box{border-style:solid; border-weight:2pt;background-color: cornflowerblue;}
	.attributes {width:1.33in; float:left;}
	.attribute-row {
		height:.34375in;
		border-style:solid;
		display:flex;
		border-top:none;
		border-width:1pt;
		background-color: cornflowerblue;
}
	.attribute-label {
		align-items:center;
		justify-content: left;
		width: 69.7%;
		float: left;
		padding-left: 2%}
	.attribute-value {	
		border-left:none;
		align-items:center;
		justify-content: center;
		width:25%;
		float: right;}
	.character-image {
		height:2.23in;
		width:2.23in;
		margin:.075in;
		float:left;}
	.bordered-image{	
		border-width:1pt;
		border-style:solid;
		overflow:hidden;		
		justify-content:center;	}
	.BackgroundInfo {
		height:1.23in;
		width:3.66in;
		display:flex;
		float left;
		overflow: hidden}
	.itemcard{
		height:5.75in;
		width:3.65in;
		float:left}
	.itemcardname{
		margin-top:.07in;
		margin-left:.25in;
		justify-content:left;
		float:left;}
	.itemcardtype{
		margin-top:.07in;
		margin-right:.25in;
		justify-content:right;
		float:right;}
	.itemcardbox{
		width: 3.18in;
		margin: .07in auto;}
	.itemcardimage{ height:1.98in;}
	.itemcardtext{ height: 3.22in; }
	.standardskills{
		width:65.6%;
		float:left;}
	.combatskills{
		width:34.4%;
		float:right}
	.skilllheaderstandard{
		background-color:#bd4dbe;
		border-style:solid;
		border-width:1pt;
		border-bottom-width:1pt;			
		display: flex;
		align-items: center;
		justify-content: left;
		padding-left:.07in;}
	.skillheadercombat{background-color:#bd4dbe;
		border-style:solid;
		border-width:1pt;
		border-bottom-width:1pt;			
		display: flex;
		align-items: center;
		justify-content: left;
		padding-left:.07in;
		}
	.skillbox {float:left; width:50%}
	.combatskillbox { float:right; width:100%}
	.skilllabel {width:70.15%}
	.combatlable {width:70.3%}
	.authoritylabel{width:89.7%; padding-left:.75%}
	.authorityvalue{width:8.6%}
	.vitalslabel{height:.25in; width:1in; justify-content:left; align-items:center; float:left;}
	.energylabel{height:.75in; align-items: top; float:left;}
	.bodresvalue{justify-content: left; align-items: center; float:right; width:74%; word-wrap:break-word}
	.energyvalue{height:.75in; justify-content: left; align-items: top; float:right;  width:74%; word-wrap:break-word}
	.vitalrow{width:100%; display:flex;}
	.emoji{font-size:12pt;color: red;}
	.startingitems{float:left; margin: auto; justify-content:left;width:1.4in; height:4.19in}
	.portrait-image{margin:auto; width:2.6in; height:4.19in; }
	