
{% extends "base.html" %}
{% block content %}
<div class="login-box auth0-box before">
    <p>Hey There, why don't you try logging in?</p>
    <a class="btn btn-primary btn-lg btn-login btn-block" href="/login">Log In</a><br>

</div>
{% endblock content %}