{% macro statvalue(name, max) %}
<div class="input-group" style="width: 100%;">
    <span class="input-group-addon" style="width: 60.1%;">{{name}}</span>
    <select class="form-control" id="{{name}}DropDown" form="charsheet">
        {% for x in range(1,max+1) %}
        <option>{{x}}</option>
        {% endfor %}
    </select>
</div>
{% endmacro %}

{% macro skillvalue(name) %}
<div class="input-group" style="width: 100%;">
    <span class="input-group-addon" style="width: 60.1%;">{{name}}</span>
    <select class="form-control" id="{{name}}DropDown" form="charsheet">
        {% for x in range(-1,8) %}
        <option>{{x}}</option>
        {% endfor %}
        <option>N/A</option>
        <option>*</option>
    </select>
</div>
{% endmacro %}

{% macro skillbox(y) %}
<div class="card">
<div class="input-group">
<span class="input-group-addon">Skill Name</span>
<input type="text" class="form-control" id="skillbox{{y}}" form="charsheet">
</div>
<div class="row">
    <div class="col">
        <div class="input-group">
            <span class="input-group-addon">Skill Value:</span>
            <select class="form-control" id="{{y}}skillpowerDropDown" form="charsheet">
                {% for x in range(-1,21) %}
                <option>{{x}}</option>
                {% endfor %}
                <option>N/A</option>
                <option>*</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="input-group">
            <span class="input-group-addon">Energy Cost:</span>
            <input type="text" class="form-control" id="EnergyCost{{y}} form="charsheet">
        </div>
    </div>
</div>
<textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
{% endmacro %}